<h1 align="center">Public Recipes List</h1>

<% @recipes.each do |recipe| %>
  <section>
      <div class="recipe-container card">
        <div class="card-body">
          <div class="card-head">
          <%= link_to user_recipe_path(current_user, recipe) do %>
            <h1 class="recipe-name"><%= recipe.name %></h1>
          <% end %>
          </div>
          <div class="card-bodiem">
            <h4 class="card-text">Total Number Of Recipes: <%= recipe.id %></h4>
            <h4 class="card-text">Total Price: $<%= recipe.cooking_time %></h4>
          </div>
        </div>
      </div>
  </section>
<% end %>