body {
  margin: 50px 200px;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 40px;
}

.form-holder {
  width: 80%;
  margin: auto;
  padding: 30px 0 0 0;
  text-align: center;
  height: 100vh;
}

.field {
  margin: 40px 0 0 0;
}

.sign-up {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  margin: 40px 0 0 0;
}

.default > :any-link {
  color: blue;
}

.default > :any-link:hover {
  color: orange;
}

.area {
  width: 80%;
  height: 50px;
  padding: 0 2% 0 2%;
  border-radius: 8px;
}

.login-btn {
  width: 80%;
  height: 50px;
  cursor: pointer;
  color: blue;
  border-radius: 8px;
}

.login-btn:hover {
  color: orange;
}

.sign-out-btn {
  margin-top: 10px;
}

.home-page {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

/* Recipes Index Page Stylings Start*/
.recipe-page-welcome-message {
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: 900;
  color: #2549e6;
  font-size: 1.3rem;
}

.add-new-recipe-btn,
.add-new-recipe-btn:active,
.add-new-recipe-btn:visited{
  align-self: flex-end;
  text-align: center;
  background-color: #314fd8;
  color: rgb(241, 238, 238);
  border-radius: .5rem;
  margin-block-start: 1rem;
  padding: 5px 12px;
  width: 80px;
}

.recipes-index-page-container {
  border: .07rem solid #dbd7d4;
  border-radius: .45rem;
  background: #cfcfec; 
  margin: 2rem 0;
  padding: .5rem;
}

.recipe-card-container {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color:#cfcfec;
}

.recipe-details {
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex: 2;
  text-align: center;
}

.recipe-details > p {
  font-size: 10px;
  font-style: italic;
  text-align: left;
  margin: 0;
  padding: 0;
}

.remove-recipe-btn {
  background-color: rgb(223, 106, 106);
  color: #fff;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.recipe-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
  font-size: 1.2rem;
  padding: 1rem;
}

/* Recipes Index Page Stylings End*/


/* New Recipe Form Stylings Start */

.new-recipe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new-recipe-form-title {
  color: #2243d7;
  font-weight: 900;
  font-size: 2rem;
}

.recipe-form-label {
  font-weight: 900;
  font-size: 1.3rem;
  color: #455dcc;
  margin-bottom: 1.1rem;
}

.recipe-form-field {
  border: 1px solid rgb(39, 37, 37);
  border-radius: 5px;
}

.recipe-form-submit {
  background-color: #1d3cc6;
  color: white;
  padding: 3px 10px;
  font-size: 1rem;
  border: 3px solid transparent;
  border-radius: 5px;
}

/* New Recipe Form Stylings End */

/* Recipe Show Page Styling Start*/

.recipe-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.recipeShowName {
  color: #213ec0;
}

.recipe-toggler {
  align-self: flex-end;
}

.toggle-On {
  font-weight: 900;
  border-radius: .5rem;
  padding: 7px 12px;
  background-color: rgb(96, 97, 96);
  color: rgb(230, 227, 227);
}

.toggle-Off {
  font-weight: 900;
  border-radius: .5rem;
  padding: 7px 12px;
  background-color: rgb(1, 166, 1);
  color: rgb(238, 235, 235);
}

.modify-recipe-btn {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: yellow;
  font-weight: 900;
  transition: all 0.4s;
}

.delete-recipe-btn {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(225, 22, 22);
  font-weight: bold;
  transition: all 0.4s;
}

.delete-recipe-btn:hover {
  color: rgb(179, 159, 159);
  transform: scale(1.2);
}

.links {
  font-style: 600;
  display: flex;
  justify-content: space-between;
}

.foodList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.wxl {
  width: 150%;
}

.addIngredientLink,
.addIngredientLink:active,
.addIngredientLink:link,
.addIngredientLink:visited {
  background-color: #213ec0;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s;
}

.addIngredientLink:hover {
  background-color: #1b3c5c;
  transform: translateY(-2px);
}

.text {
  color: #213ec0;
}

.table {
  width: 100%;
  color: #fff;
}

.table,
th,
td {
  border: 2px solid #43aadd;
  border-collapse: collapse;
  padding: 12px 5px;
}

tr {
  background-color: #717894;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #646886;
}

/* Recipe Show Page Styling End*/















.addFoodContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.addFoodHeader {
  color: #213ec0;
}

.addFoodForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.tableHeading {
  background-color: #1b3c5c;
}

.newRecipeFood {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newRecipeFoodTitle {
  color: #213ec0;
}

.recipeFoodEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeFoodEdit {
  color: #213ec0;
}

.publicListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.publicRecipeTitle {
  color: #213ec0;
}

.publicRecipesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.recipeCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43aadd;
  width: 130%;
  border-radius: 10px;
}

.recipeCardLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeName {
  color: white;
}

.recipeAuthor {
  color: white;
}

.recipeCardRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.totalFoodItems {
  color: white;
}

.totolPrice {
  color: white;
}

.generalShoppingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generalShoppingTitle {
  color: #213ec0;
}

.missingFoodInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generalShoppingListTableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* NAV BAR */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 5px 10px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

a:link {
  color: #c7aa29;
}

a:visited {
  color: #213ec0;
}

a:hover {
  color: #b31c1c;
}

a:active {
  color: #333;
}

nav a:hover {
  color: #000;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #251207;
  border-radius: 10px;
  color: white;
}

.navWellcome {
  flex: 2;
}

.navLinks {
  flex: 4;
  display: flex;
  justify-content: flex-end;
}

.navLink,
.navLink:visited,
.navLink:active {
  color: #eee;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.navLink:hover {
  background-color: #eee;
  color: #251207;
  transform: translateY(-3px);
}

.signOutBtn {
  background-color: #eee;
  color: #251207;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s;
}

.signOutBtn:hover {
  background-color: #8f0000;
  color: #eee;
}

.firstPage {
  height: 100%;
  width: 100%;
}

.showRecipeLink,
.showRecipeLink:active,
.showRecipeLink:link,
.showRecipeLink:visited {
  background-color: #213ec0;
  color: #eee;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  transition: all 0.3s;
}

.showRecipeLink:hover {
  background-color: #eee;
  color: #213ec0;
}

.deleteRecipeLink,
.deleteRecipeLink:active,
.deleteRecipeLink:link,
.deleteRecipeLink:visited {
  background-color: #8f0000;
  color: #eee;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  transition: all 0.3s;
}

.deleteRecipeLink:hover {
  background-color: #eee;
  color: #8f0000;
}